<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>attack_10010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{268,172}}</string>
        <key>offset</key>
        <string>{-4,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,13},{268,172}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>attack_10013.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{263,167}}</string>
        <key>offset</key>
        <string>{1.5,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,13},{263,167}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>attack_10016.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,0},{126,239}}</string>
        <key>offset</key>
        <string>{-22,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{60,0},{126,239}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>attack_10011.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,0},{228,171}}</string>
        <key>offset</key>
        <string>{31,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,8},{228,171}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>stand_10021.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,126},{216,181}}</string>
        <key>offset</key>
        <string>{-37,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{216,181}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>stand_10023.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,171},{216,181}}</string>
        <key>offset</key>
        <string>{-37,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{216,181}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>stand_10022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{216,180}}</string>
        <key>offset</key>
        <string>{-37,22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{216,180}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>stand_10020.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,0},{214,183}}</string>
        <key>offset</key>
        <string>{-37,21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,7},{214,183}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>stand_10024.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,171},{214,182}}</string>
        <key>offset</key>
        <string>{-37,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,7},{214,182}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>attack_10012.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,353},{214,166}}</string>
        <key>offset</key>
        <string>{14,28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,8},{214,166}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>stand_10025.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,307},{213,185}}</string>
        <key>offset</key>
        <string>{-36.5,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{213,185}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>attack_10009.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,492},{212,186}}</string>
        <key>offset</key>
        <string>{-37,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{212,186}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>stand_10018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{212,186}}</string>
        <key>offset</key>
        <string>{-37,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{212,186}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>stand_10019.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,352},{212,185}}</string>
        <key>offset</key>
        <string>{-37,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{212,185}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>attack_10014.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,537},{132,207}}</string>
        <key>offset</key>
        <string>{21,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{100,16},{132,207}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>run_10029.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,538},{196,161}}</string>
        <key>offset</key>
        <string>{-10,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,35},{196,161}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>run_10028.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,669},{189,152}}</string>
        <key>offset</key>
        <string>{-9.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41,37},{189,152}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>attack_10015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,699},{145,188}}</string>
        <key>offset</key>
        <string>{10.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{83,25},{145,188}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>run_10027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212,0},{181,146}}</string>
        <key>offset</key>
        <string>{-10.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,43},{181,146}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>run_10034.png</key>
      <dict>
        <key>frame</key>
        <string>{{1393,0},{176,154}}</string>
        <key>offset</key>
        <string>{-20,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{176,154}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>run_10030.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212,146},{174,161}}</string>
        <key>offset</key>
        <string>{-16,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,38},{174,161}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>run_10033.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,183},{167,158}}</string>
        <key>offset</key>
        <string>{-25.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,35},{167,158}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>run_10032.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,341},{159,158}}</string>
        <key>offset</key>
        <string>{-27.5,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,38},{159,158}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
      <key>run_10031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1569,0},{158,154}}</string>
        <key>offset</key>
        <string>{-25,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41,44},{158,154}}</string>
        <key>sourceSize</key>
        <string>{290,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
